{
  "plugins": ["prettier-plugin-svelte"],
  "svelteSortOrder": "options-styles-scripts-markup",
  "svelteStrictMode": false,
  "svelteBracketNewLine": true,
  "svelteIndentScriptAndStyle": true,
  "singleQuote": true,
  "printWidth": 100
}
