html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", "Trebuchet MS", Trebuchet, Arial, sans-serif;
}

legend,
label {
  padding: 0 5px;
}

legend {
  color: #242424;
  font-size: 0.85em;
}

label {
  color: #484848;
  font-size: 0.75em;
}

thead th {
  background-color: #e2e6e6;
}

tr {
  text-align: left;
}

th, td {
  padding: 2px 6px;
}

#google-map {
  height: 100%;
}

#sidebar {
  position: absolute;
  top: 0;
  left: 30px;
  z-index: 10;
  width: 305px;
  height: 100%;
}

#sidebar > * {
  width: 100%;
}

hgroup {
  padding: 0 10px 10px;
  text-align: center;
}

hgroup > * {
  display: inline-block;
}

#sidebar,
#tooltip,
.infoBox,
#right-sidebar,
#message {
  background: #ffffff;
  background: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.3), 4px 0px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.3), 4px 0px 10px rgba(0, 0, 0, 0.3);
  box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.3), 4px 0px 10px rgba(0, 0, 0, 0.3);
}

#user-links {
  background-color: rgba(200, 200, 200, 0.4);
  border-bottom: 1px solid #c0c0c0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
}

#user-links .loading {
  padding-top: 6px;
}

#plantpath-logo,
#vegento-logo,
#uw-madison,
#uw-extension {
  display: inline-block;
  background-repeat: no-repeat;
  text-indent: -9999em;
}

#plantpath-logo,
#vegento-logo {
  width: 80px;
  height: 80px;
  margin: 12px 6px;
}

#plantpath-logo {
  background-image: image-url('plantpath-logo.png');
}

#vegento-logo {
  background-image: image-url('vegento-logo.png');
}

#uw-madison {
  background-image: image-url('uw-madison.png');
  width: 53px;
  height: 80px;
}

#uw-extension {
  background-image: image-url('uw-extension.png');
  width: 119px;
  height: 30px;
  margin-left: 9px;
}

h1 {
  clear: both;
  margin: 0;
  text-align: center;
  font-family: Caudex, Garamond, Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 1.65em;
}

h1 span {
  display: block;
  white-space: nowrap;
}

h1 span:nth-of-type(2) {
  margin: -8px 0 0;
  font-size: 0.85em;
}

fieldset {
  background: rgba(200, 200, 200, 0.4);
  margin-bottom: 10px;
  padding: 10px;
}

#options .inner {
  margin: 0 10px;
}

#options input[type="text"],
#options select {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 99%;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #d0d0d0;
  padding: 5px 0;
  cursor: pointer;
}

#options select {
  overflow: hidden;
  padding: 5px 8px;
  text-indent: 0.01px;
}

#options select::-ms-expand {
  display: none;
}

#options input[type="text"][disabled="disabled"],
#options select[disabled="disabled"] {
  background-color: #d0d0d0;
  cursor: default;
}

#definitions {
  margin-top: 10px;
}

#definitions ul {
  margin: 0;
  padding-left: 20px;
  font-size: .8em;
}

#definitions ul li {
  color: #424242;
}

.more-information {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: image-url('question-mark.png');
  cursor: help;
  text-indent: -9999em;
  background-repeat: no-repeat;
}

.select-wrapper {
  position: relative;
}

.select-wrapper .more-information {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 30px;
  height: 30px;
  background-position: 8px center;
}

#datepicker .to {
  font-style: italic;
  text-align: center;
  font-size: 0.75em;
  color: #808080;
}

.datepicker {
  text-align: center;
}

#select {
  margin: 4px 1px;
}

#right-sidebar {
  position: absolute;
  bottom: 25px;
  right: 15px;
  z-index: 10;
  min-width: 200px;
  min-height: 75px;
  padding: 5px 10px;
}

#severity-legend .loading {
  margin-top: 24px;
}

#severity-legend .dsv {
  clear: both;

  label {
    display: inline-block;
    margin-top: 5px;
    span {
      margin-left: 5px;
    }
  }
}

#severity-legend .dsv div {
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid #f1f1f1;
  opacity: 0.4;
  margin: 1px 0;
}

#severity-legend label {
  padding-left: 5px;
}

.dsv-threshold  {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin: 2px;

}


.dsv-threshold.dsv-very_high {
  background: rgb(204, 0, 0);
}

.dsv-threshold.dsv-high  {
  background: rgb(255, 128, 0);
}

.dsv-threshold.dsv-medium  {
  background: rgb(255, 215, 0);
}

.dsv-threshold.dsv-low  {
  background: rgb(125, 255, 35);
}

.dsv-threshold.dsv-very_low {
  background: rgb(0, 201, 87);
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

#uw-group {
  position: relative;
  height: 100px;
  margin: 0 2px;
  padding: 5px 0;
  text-align: center;
  z-index: 10;
}

#uw-group > * {
  vertical-align: middle;
}

// -----------------------------------------------------------------------
// Infownindow
// -----------------------------------------------------------------------
#iw-container {
  width: 275px;
  height: 350px;
}

#iw-content {
  margin:0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 303px;
  font-size: 9pt;


  #loading {
    margin: 100px 90px;
  }
  .loading-text {
    font-size: 16px;
    color: #656565;
  }

  table {
    width: 100%;
  }

  table .odd {
    background-color: #ebefef;
  }
}

.iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  background-color: #48b5e9;
  color: white;
  margin: 1px;
  border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}

//---------------------------------------------------------------------------
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all .75s ease;
  -moz-transition: all .75s ease;
  -ms-transition: all .75s ease;
  -o-transition: all .75s ease;
  transition: all .75s ease;
  opacity: 1;
  visibility: visible;
  text-align: center;
  z-index: 100;
}

.overlay .message {
  position: relative;
  top: 50%;
  left: 50%;
  font-size: 16px;
  color: #656565;
}

.overlay .message div {
  margin-bottom: 14px;
}

#loading-overlay {
  background-color: #ffffff;
}

#loading-overlay.radial,
#error-overlay,
#message-overlay {
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

#loading {
  width: 105px;
  margin: -50px 0 0 -25px;
}

.allen {
  .loading-icon {
    width: 60px;
    height: 60px;
    margin: -30px auto 0 10px;
    padding: 0 10px 0 0;
  }
}

#loading .loading-icon {
  width: 60px;
  height: 60px;
  margin: -30px auto 0 10px;
  padding: 0 10px 0 0;
}

.loading-icon {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

@-webkit-keyframes 'loadbars' {
  0% {
    height: 10px;
    margin-top: 25px;
  }
  50% {
    height: 50px;
    margin-top: 0px;
  }
  100% {
    height: 10px;
    margin-top: 25px;
  }
}

@-webkit-keyframes 'loadbars-small' {
  0% {
    height: 5px;
    margin-top: 12px;
  }
  50% {
    height: 25px;
    margin-top: 0px;
  }
  100% {
    height: 5px;
    margin-top: 12px;
  }
}

.loading-icon li {
  background-color: #3a710c;
  width: 5px;
  height: 10px;
  float: right;
  margin-right: 2px;
}

#loading .loading-icon li {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.loading-icon li:first-child {
  -webkit-animation: loadbars-small 0.4s ease-in-out infinite 0s;
}

.loading-icon li:nth-child(2) {
  -webkit-animation: loadbars-small 0.4s ease-in-out infinite -0.3s;
}

.loading-icon li:nth-child(3) {
  -webkit-animation: loadbars-small 0.4s ease-in-out infinite -0.6s;
}

#loading .loading-icon li:first-child {
  -webkit-animation: loadbars 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) infinite 0s;
}

#loading .loading-icon li:nth-child(2) {
  -webkit-animation: loadbars 0.6s ease-in-out infinite -0.2s;
}

#loading .loading-icon li:nth-child(3) {
  -webkit-animation: loadbars 0.6s ease-in-out infinite -0.4s;
}

#error-overlay,
#message-overlay {
  display: none;
  visibility: hidden;
}

#message-overlay {
  text-align: left;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

#login-form table,
#register-form table {
  margin: 0 auto;
}

#register-form input[type="submit"] {
  margin-top: 5px;
}

#subscription-form label {
  display: block;
}

#subscription-form > div:nth-of-type(1),
#subscription-form > div:nth-of-type(2) {
  float: left;
}

#subscription-form > div:nth-of-type(2) {
  margin-left: 10px;
}

#subscription-form > div:nth-of-type(3) {
  clear: both;
}

#subscription_emergenceDate > select {
  margin-right: 5px;
}

#error {
  width: 200px;
  margin: -75px 0 0 -75px;
}

#error-icon {
  background-image: image-url('error.png');
  width: 48px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
}

#message {
  position: relative;
  width: 400px;
  height: auto;
  margin: -135px 0 0 -190px;
  padding: 10px
}

.button {
  display: inline-block;
  cursor: pointer;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#ebefef), to(#c2c3c3));
  background: -moz-linear-gradient(top, #ebefef 0%, #c2c3c3);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #7f7f7f;
}

.button:focus,
.button:hover {
  border: 1px solid #000;
}

input[disabled="disabled"],
.button.disabled {
  background: #d0d0d0;
  color: #424242;
  cursor: default;
}

input[disabled="disabled"]:focus,
input[disabled="disabled"]:hover,
.button.disabled:focus,
.button.disabled:hover {
  border: 1px solid #7f7f7f;
}

.button-primary {
  padding: 5px 24px;
  background: #249dde;
  background: -webkit-gradient(linear, left top, left bottom, from(#29d4ff), to(#249dde));
  background: -moz-linear-gradient(top, #29d4ff 0%, #249dde);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0), inset 0px 0px 1px rgba(255,255,255,1);
  -moz-box-shadow: 0px 1px 3px rgba(000,000,000,0), inset 0px 0px 1px rgba(255,255,255,1);
  box-shadow: 0px 1px 3px rgba(000,000,000,0), inset 0px 0px 1px rgba(255,255,255,1);
  color: #fff;
  font-size: 0.85em;
}

#potato-field {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: image-url('potato-field.png');
  width: 100%;
  height: 182px;
  z-index: 5;
  opacity: 0.7;
}

#map-pan-zoom-controls,
#map-google-logo {
  position: absolute;
  left: 335px;
}

#map-google-logo {
  bottom: 0;
}

#tooltip {
  display: none;
  position: absolute;
  padding: 10px;
  font-size: 10pt;
  z-index: 9999;
}

#tooltip::after,
.infoBox::after {
  position: absolute;
  bottom: -5px;
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ffffff;
}

#tooltip.left-triangle::after,
.infoBox.left-triangle::after {
  left: 8px;
}

#tooltip.right-triangle::after,
.infoBox.right-triangle::after {
  right: 8px;
}

.infoBox {
  position: relative;
  padding: 10px;
  min-width: 200px;
}

.infoBox > img,
#message > .close {
  position: absolute !important;
  top: -5px;
  right: -5px;
  padding: 10px;
  cursor: pointer;
}

.infoBox ul:not(.loading-icon) {
  padding-left: 25px;
  margin: 5px 0;
}

.infoBox table {
  width: 100%;
}

.infoBox table .odd {
  background-color: #ebefef;
}

.infoBox-station .information,
.infoBox-station .weather-details,
.infoBox-point .information,
.infoBox-point .weather-details {
  margin-top: 0.5em;
}

.infoBox-station .title,
.infoBox-point .title {
  margin-top: 2px;
}

.infoBox-station h3,
.infoBox-point h3 {
  margin-bottom: 2px;
}

.infoBox-point h3.information-title {
  margin-top: 0;
}

.infoBox-station .station.loading,
.infoBox-point .point.loading,
#message .loading {
  padding: 50px 0;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }

  #sidebar {
    left: 0;
  }

  #severity-legend {
    right: 0;
    bottom: 0;
  }

  #definitions {
    display: none;
  }

  fieldset {
    background: none;
  }

  #sidebar,
  #tooltip,
  .infoBox,
  #right-sidebar,
  #message {
    background: #fff;
    border: none;
    box-shadow: none;
  }

  header {
    background: #fff;
  }

  #sidebar {
    background: none;
  }

  footer {
    display: none;
  }

  #options {
    display: none;
  }
}

#more-information-link-wrapper {
  font-size: 10pt;
  padding-top: 5px;
  float: right;
  a {
    color: inherit;
  }

}

.infliction {
  display: none;
}

.ui-tooltip {
  max-width: 50%;
}

.ui-tooltip-content {
    font-size: 11pt;
    font-family: Arial, Helvetica, sans-serif;
}
