<!DOCTYPE html>
<html lang="en">
<head>
  <title>AgVdifn</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_pack_tag "svelte" %>
  <%= stylesheet_pack_tag "svelte" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
